# Git
.git
.gitignore

# IDE
.vscode
.idea

# Air
tmp/

# Logs
*.log

# Variables locales
.env.*

# Uploads locales
README.md

deployment/

internal/scripts/

uploads/

coverage/

# Binarios
*.exe
*.dll
*.so
*.dylib

# Go
vendor/